// Font Imports
@font-face {
	font-family: "Ubuntu";
	src: url("../fonts/Ubuntu-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Font familys */
@custom-font: "Ubuntu", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
